.MultiplePeopleButton {
  width: 21.2rem;
  height: 5.875rem;
  background-color: #ffffff;
  display: flex;
  border-radius: 3rem;
  align-items: center;
  margin-top: 6.625rem;
  position: absolute;
  left: 55.325rem;
  top: 34.125rem;

}

.MultiplePeopleButton_content {
  width: 6.4631rem;
  height: 4rem;
  font-family: var(--font-family-header);
  font-size: 1.5625rem;
  margin: 0.9063rem 1.2375rem 0.9688rem 2.5rem;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.MultiplePeopleButton_content h4:first-child {
  color: var(--secondary-color-hero);
  font-weight: 400;
  margin: 0;
   line-height: 2rem;
}

.MultiplePeopleButton_content h4:last-child {
  color: var(--third-color-hero);
  font-weight: 400;
  margin: 0;
   line-height: 2rem;
}

.MultiplePeopleButton_image{
    width: 8.5rem;
    height: 2.5rem;
}